<%= provide(title: "Cold Cuts!") %>
<ul>
<% @users.each do |user| %>
  <div class="container">
      <font size="10px"><p align="center">
      <%= link_to  user.username , "users/#{user.id}" %>
      </font></p>
  </div>
  
<% end %>
</ul>