<% provide(:title, @user.username) %>

<h1>
  <%= gravatar_for @user %>
  <%= @user.username %>
</h1>
<%= link_to "User's Conversations", user_conversations_path(@user) %>
<%= link_to "Create a New Conversation", new_user_conversation_path(@user) %>



