<% provide(:title, "About") %>
<h1>About Us</h1>

<h2><p>LunchMeet was created by Adam Vilmin, Mylene Haus, and Kodi Collins for HackIllinois 2015. An employee of the restaurant industry since 2010, Adam came up with the idea for LunchMeet prior to the hackathon.</p> 

<p>This site was created using Bootstrap, Rails, Ruby, HTML, CSS, coffee, Red Bull, and free food.</p>

<p>Special thanks to Michael Hartl of <a href="https://www.railstutorial.org/">The Ruby on Rails Tutorial.</a> Without his wisdom, none of this would have been possible.</p>

<p>Silly logo and favicon designed by Mylene Haus.</p></h2>

<h3><p>Hire us!</p>
<p><a href="https://drive.google.com/file/d/0B1h8OsgUC9LZMkZJVlZhUmEwT3M/view?usp=sharing">Adam Vilmin</a> | <a href="https://drive.google.com/file/d/0B1h8OsgUC9LZRzdXVElldEplUm8/view?usp=sharing">Mylene Haus</a>
</p></h3>
