<% provide(:title, "Contact") %>
<h1>Contact Us</h1>

<h2>
<p>
    Got something to say? Email us, or join us for a meal or two!
</p>    
<p><%= link_to "Adam Vilmin", "users/2" %> - crappyoats@gmail.com</p>
<p><%= link_to "Mylene Haus", "users/1" %> - mylene.haus@gmail.com</p>

    
</h2>