<!DOCTYPE HTML>

<div class="row clearfix">
		<div class="col-md-8 column">
			<%= image_tag("lunch_meet_logo.png", height: "600", width: "700") %>
		</div>
		<div class="col-md-4 column" class="row-md-10 row">
			<div class="jumbotron well">
				<font size="10px"><p align="center">
				 Welcome to <font color="teal">LunchMeet!</font>
				</font></p>
				<h2><p>
					<font color="teal">LunchMeet</font> is for finding new friends that love lunch as much as you do!
				</p></h2>
				<p align="center">
					<%= link_to "Sign up now!", signup_path , class: "btn btn-lg btn-primary" %>
				</p>
			</div>
		</div>
	</div>
</html>