<% provide(:title, "What is LunchMeet?") %>
<h1>What is LunchMeet?</h1>
<h2><p>LunchMeet is a website where users can connect with others in their area and make new friends by meeting up for lunch, dinner, breakfast, drinks, or even just a snack. Bond over shared interests, mutual favorite foods, or even nothing in particular. Sign up today and see who you can meet!</p>
    
    
    
<p>Looking for info about us or LunchMeet's creation? <%= link_to "Click here! :)", about_path %></p>    
</h2>