<footer class="footer">
  <small>
    LunchMeet 2015
  </small>
  <nav>
    
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <% if current_user %>
 <li>You are currently <%= current_user.username %>.</li>
 <% else %>
 <li>You are not currently signed in</li>
 <% end %>
      </ul>
  </nav>
</footer>
