<head>
<div class="row clearfix">
		<div class="col-md-12 column">
			<ul class="nav nav-pills">
				<li class="active">
					<%= link_to "Home", root_path %>
				</li>
				<li>
					<%= link_to "What is LunchMeet?", what_is_lunch_meet_path %>
				</li>
		  <% if logged_in? %>
          <li><%= link_to "Users", coldcuts_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", "#" %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
            <% else %>
          <li><%= link_to "Log in", login_path %></li>
            <% end %>
			</ul>
	</div>
</div>
</head>